html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


$dark: #000;
$mediumlight: #999;
$medium: #555;
$light: #BBB;

@mixin div-bg {
	width: 100%;
	padding: 80px 0;
}

/*Typography*/

h1 {
	font-family: "le-havre-rounded", helvetica, sans-serif;
	line-height: 1.6;
	font-size: 8em;
	font-weight: 200;
	font-style: normal;
	color: $dark;
	text-align: center;
}

h2 {
	font-family: "le-havre-rounded", helvetica, sans-serif;
	line-height: 1.6;
	font-size: 5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 200;
	font-style: normal;
	color: $light;
	text-align: center;
	margin-bottom: 20px;
}


h3 {
	font-family: "museo-sans", helvetica, sans-serif;
	line-height: 1.6;
	font-size: 1.6em;
	font-weight: 500;
	font-style: normal;
	color: $mediumlight;
	margin-top: 20px;
	margin-left: 1em;
}


li {
	font-family: "museo-sans", helvetica, sans-serif;
	line-height: 1.6;
	font-size: 1.7em;
	font-weight: 300;
	font-style: normal;
	color: $dark;
	list-style-position: outside;
	list-style-type: circle;
	margin-left: 2em;
}
