/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Typography*/
h1 {
  font-family: "le-havre-rounded", helvetica, sans-serif;
  line-height: 1.6;
  font-size: 8em;
  font-weight: 200;
  font-style: normal;
  color: #000;
  text-align: center; }

h2 {
  font-family: "le-havre-rounded", helvetica, sans-serif;
  line-height: 1.6;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 200;
  font-style: normal;
  color: #BBB;
  text-align: center;
  margin-bottom: 20px; }

h3 {
  font-family: "museo-sans", helvetica, sans-serif;
  line-height: 1.6;
  font-size: 1.6em;
  font-weight: 500;
  font-style: normal;
  color: #999;
  margin-top: 20px;
  margin-left: 1em; }

li {
  font-family: "museo-sans", helvetica, sans-serif;
  line-height: 1.6;
  font-size: 1.7em;
  font-weight: 300;
  font-style: normal;
  color: #000;
  list-style-position: outside;
  list-style-type: circle;
  margin-left: 2em; }

.container {
  max-width: 380px;
  width: 85%;
  margin: 0 auto;
  overflow: hidden; }

header {
  padding: 80px 0; }

section {
  width: 100%;
  padding: 80px 0;
  max-width: 333.33px;
  margin: 0 auto; }

nav {
  width: 180px;
  margin: 0 auto;
  position: relative; }
  nav li {
    float: left;
    list-style-type: none;
    margin-left: 0;
    position: relative; }
  nav li + li {
    margin-left: 20px; }

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #555;
  transition: 200ms ease color, 200ms ease border;
  padding: 3px 0; }
  nav a:hover {
    border-bottom: 1px dotted #000;
    border-top: 1px dotted #000;
    color: #000; }

nav li ul {
  display: none;
  position: absolute; }
  nav li ul li {
    font-size: 12px;
    float: none;
    margin-left: 0;
    margin-top: 5px; }
  nav li ul li:first-of-type {
    margin-top: 10px; }
  nav li ul li:last-of-type {
    margin-bottom: 10px; }
  nav li ul a:hover {
    border-bottom: none;
    border-top: none;
    color: #000; }

.show-nav {
  display: block; }

.equal {
  list-style-type: none;
  margin-top: 5px;
  border-top: 1px dotted #999;
  width: 200px; }

.ideas li {
  font-size: 1.5em;
  font-style: italic;
  color: #555; }

li ul li {
  font-size: 12px; }

.fini {
  text-decoration: line-through; }

/*Media Queries*/
@media screen and (min-width: 38em) {
  .container {
    max-width: 640px; }

  section {
    float: left;
    width: 47.5%;
    padding-left: 5%; }

  section:nth-of-type(odd) {
    padding-left: 0;
    clear: left; }

  .goal {
    min-height: 650px; } }
@media screen and (min-width: 64em) {
  .container {
    max-width: 1000px; }

  section {
    display: block;
    float: left;
    width: 32%;
    padding-left: 2%; }

  section:nth-of-type(odd) {
    padding-left: 2%;
    clear: none; }

  section:nth-of-type(3n+1) {
    padding-left: 0;
    clear: left; } }

/*# sourceMappingURL=style.css.map */
